<!-- 
Student ID: 301385235
Student Name: Oluwajuwon Ajana
Date: 03/09/2023
-->

<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>LarryKodes</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End  Footer -->
