<!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo me-auto me-lg-0">
        <a href="/" class="logo">
          <img src="/images/logo.png" alt="Larry's Logo" class="img-fluid">
        </a>
      </h1>
      
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link " aria-current="page" href="/" style="text-decoration: none;">Home</a></li>
          <li><a class="nav-link" href="/about" style="text-decoration: none;">About</a></li>
          <li><a class="nav-link" href="/services" style="text-decoration: none;">Services</a></li>
          <li><a class="nav-link" href="/projects" style="text-decoration: none;">Projects</a></li>
          <li><a class="nav-link" href="/contact" style="text-decoration: none;">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>

  </header><!-- End Header -->




<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container ">
    <a class=" navbar-brand" href="#">
      <img src="/images/favicon.ico" alt="Larry's Logo" width="40" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" collapse px-5 navbar-collapse" id="navbarNavAltMarkup">
      <div class=" navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/services">Services</a>
        <a class="nav-link" href="/projects">Projects</a>
        <a class="nav-link" href="/contact">Contact</a>
        <form class=" d-flex" role="search">
        <input class=" px-5 form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      </div>
    </div>
  </div>
</nav>
 -->

<!-- <nav>
    <img src="/images/favicon.ico" alt="Your Logo">
    <a href="/">Home</a>
    <a href="/about">About Me</a>
    <a href="/projects">Projects</a>
    <a href="/services">Services</a>
    <a href="/contact">Contact</a>
</nav> -->


